<!DOCTYPE html>
<html>
  <head>
    <title>RE Portfolio</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <div class="page-wrap">
      <div class="homescreen">
      <%= render 'layouts/navbar' %>
      <%= render 'layouts/flash' %>
          <%if current_user.nil? -%>
          <div id="login-box">

            <div class="labels">
            <%= form_for(:user, :url => session_path(:user)) do |f| %>
            <%= f.label :login %>
            <%= f.text_field :login, autofocus: true, id:"username" %></br>

            <%= f.label :password %>
            <%= f.password_field :password, id:"password" %></br>

            <%= f.submit 'Sign In', class:"button" %></br>

            <%= link_to "Forgot your password?", new_password_path(:user) %></br>

            <%= link_to "Sign Up", new_user_registration_path %>
            <% end %>
          </div>
          <%end %>
        </div>
      </div>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
